{% extends 'layout/index.html' %} 
{% block content%}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Backup Aplikasi</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Arsip</h6>
      </div>
      <div class="card-body">
          <a class="btn btn-primary mb-4 float-right" href="{% url 'backup_aplikasi_create' %}">Tambah Data</a>
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Kategori</th>
                          <th>Periode</th>
                          <th>Aksi</th>
                          {% if current_user.is_superuser %}
                          <th>Approval</th>
                          {% endif %}
                      </tr>
                  </thead>
                  <tbody>
                      {% for object in object_list %}
                      {% if object.approval == True or current_user.is_superuser %}
                      <tr>
                          <td>{{ object.kategori }}</td>
                          <td>{{ object.periode }}</td>
                          <td class="text-center">
                              {% if current_user.is_superuser %}
                              <a href="{{object.upload.url}}" class="btn btn-primary" data-toggle="tooltip" title="Download" download><i class="fas fa-download"></i></a>
                              <a href="{% url 'backup_aplikasi_detail' object.id %}" class="btn btn-success" data-toggle="tooltip" title="Detail"><i class="fas fa-eye"></i></a>
                              {% endif %}
                              <a href="{% url 'backup_aplikasi_update' object.id %}" class="btn btn-info" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
                              <a href="{% url 'backup_aplikasi_delete' object.id %}" class="btn btn-danger" title="Hapus"><i class="fas fa-trash"></i></a>
                          </td>
                          {% if current_user.is_superuser %}
                          <td>
                              {% if object.approval == False %}
                              <a href="{% url 'backup_aplikasi_approve' object.id %}" class="btn btn-success" data-toggle="tooltip" title="Setuju"><i class="fas fa-check"></i></a>
                              <a href="{% url 'backup_aplikasi_delete' object.id %}" class="btn btn-danger" title="Tolak"><i class="fas fa-times"></i></a>
                              {% endif %}
                          </td>
                          {% endif %}
                      </tr>
                      {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
{% endblock%}
