{% extends 'layout/index.html' %} 
{% block content%}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Surat Perintah Membayar</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Arsip</h6>
      </div>
      <div class="card-body">
          <a class="btn btn-primary mb-4 float-right" href="{% url 'spm_create' %}">Tambah Data</a>
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Nomor SPM</th>
                          <th>Jenis SPM</th>
                          <th>Tanggal SPM</th>
                          <th>Aksi</th>
                          {% if current_user.is_superuser %}
                          <th>Approval</th>
                          {% endif %}
                      </tr>
                  </thead>
                  <tbody>
                      {% for object in object_list %}
                      {% if object.approval == True or current_user.is_superuser %}
                      <tr>
                          <td>{{ object.nomor_spm }}</td>
                          <td>{{ object.jenis_spm }}</td>
                          <td>{{ object.tanggal_spm }}</td>
                          <td class="text-center">
                              {% if current_user.is_superuser %}
                              <a href="{% url 'spm_detail' object.id %}" class="btn btn-success" data-toggle="tooltip" title="Detail"><i class="fas fa-eye"></i></a>
                              {% endif %}
                              <a href="{% url 'spm_update' object.id %}" class="btn btn-info" data-toggle="tooltip" title="Update"><i class="fas fa-edit"></i></a>
                              <a href="{% url 'spm_delete' object.id %}" class="btn btn-danger" data-toggle="tooltip" title="Hapus"><i class="fas fa-trash"></i></a>
                          </td>
                          {% if current_user.is_superuser %}
                          <td>
                            {% if object.approval == False %}

                              <a href="{% url 'spm_approve' object.id %}" class="btn btn-success" data-toggle="tooltip" title="Setuju"><i class="fas fa-check"></i></a>
                              <a href="{% url 'spm_delete' object.id %}" class="btn btn-danger" title="Tolak"><i class="fas fa-times"></i></a>
                              {% endif %}
                          </td>
                          {% endif %}
                      </tr>
                      {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
{% endblock%}
