{% extends 'layout/index.html' %} 
{% block content%}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Surat Keputusan Kuasa Pengguna Anggaran</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Arsip</h6>
      </div>
      <div class="card-body">
          <a class="btn btn-primary mb-4 float-right" href="{% url 'skpa_create' %}">Tambah Data</a>
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Nomor</th>
                          <th>Perihal</th>
                          <th>Tanggal Surat</th>
                          <th>Aksi</th>
                          {% if current_user.is_superuser %}
                          <th>Approval</th>
                          {% endif %}
                      </tr>
                  </thead>
                  <tbody>
                      {% for object in object_list %}
                      {% if object.approval == True or current_user.is_superuser %}
                      <tr>
                          <td>{{ object.nomor }}</td>
                          <td>{{ object.perihal }}</td>
                          <td>{{ object.tanggal_surat }}</td>
                          <td class="text-center">
                              {% if current_user.is_superuser %}
                              <a href="{{object.upload.url}}" class="btn btn-primary"  data-toggle="tooltip" title="Download"  download><i class="fas fa-download"></i></a>
                              <a href="{% url 'skpa_detail' object.id %}" class="btn btn-success"  data-toggle="tooltip" title="Detail" ><i class="fas fa-eye"></i></a>
                              {% endif %}
                              <a href="{% url 'skpa_update' object.id %}" class="btn btn-info"  data-toggle="tooltip" title="Edit" ><i class="fas fa-edit"></i></a>
                              <a href="" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" title="Hapus"><i class="fas fa-trash"></i></a>
                          </td>
                          {% if current_user.is_superuser %}
                          <td>
                            {% if object.approval == False %}

                              <a href="{% url 'skpa_approve' object.id %}" class="btn btn-success" data-toggle="tooltip" title="Setuju" ><i class="fas fa-check"></i></a>
                              <a href="{% url 'skpa_delete' object.id %}" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" title="Tolak"><i class="fas fa-times"></i></a>
                              {% endif %}
                          </td>
                          {% endif %}
                          <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Hapus Dokumen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                Apakah Anda yakin akan menghapus dokumen?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form action="{% url 'skpa_delete' object.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Ya</button>
                                 </form>
                                </div>
                            </div>
                            </div>
                        </div>
                      </tr>
                      {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
{% endblock%}
