{% extends 'layout/index.html' %} 
{% block content%}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Laporan BMN dan Keuangan</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delete</h6>
      </div>
      <div class="card-body">
        <form  method="post">{% csrf_token %}
          <div class="form-group">
            <p>Apakah anda yakin akan menghapus data ini?</p>
          </div>
          <div class="form-group">
            <a class="btn btn-primary" href="{%url 'laporan_bmn_list'%}">Back</a>
            <input class="btn btn-danger" type="submit" value="Confirm">
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock%}
