{% extends 'layout/index.html' %} 
{% block content%}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Survei dan Laporan</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      {% if 'update' in request.path %}
        <h6 class="m-0 font-weight-bold text-primary">Edit Data</h6>
      {% else %}
        <h6 class="m-0 font-weight-bold text-primary">Tambah Data</h6>
      {% endif %}
    </div>
      <div class="card-body">
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ form.as_p}}
          <a class="btn btn-danger" href="{%url 'survei_list'%}">Back</a>
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>
      </div>
  </div>
</div>
{% endblock%}
